
.panel {
    font-family:"helvetica";
    margin:0;
    max-width:50%;
    padding:4em 0 2em;
    text-align:left;
    position:fixed;
    bottom:4em;
}

.panel h1 {
    margin:0 0 .5em;
    text-transform:uppercase;
    font-size:60px;
}

.smaller-font {
    font-size:60px;
    vertical-align:top;
}

.panel p {
    color:#000000;
    margin:0;
    text-transform:uppercase;
}

.panel {
    margin:0;
    max-width:50%;
    padding:0em 0 2em;
    text-align:left;
    position:fixed;
    bottom:.5em;
}